@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Incidencias";
}
<div>
    <p><a href="Home/CaseQuestionnaire" class="btn btn-primary btn-lg">Nueva incidencia &raquo;</a></p>
</div>
